*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

html, body{
    height: 100%;
}


.container{
    margin:0 auto;
    padding: 0 4%;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    padding-top: 3vh;
    text-align: center;
}

p{
    padding-top: 2vh;
    text-align: center;
}

.input{
    margin-top: 3vh;
    padding: 10px 15px;
    border: 1px solid rgb(195,195,195);
    border-radius: 5px;
    width: 300px;
    transition: 0.5s;
    font-size: 14px;
    line-height: 35px;
}

.input:focus, .input:focus-visible{
    border-color: black;
    transition: 0.5s;
    outline: none;
}

.btn{
    margin-top: 2vh;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    width: 300px;
    cursor: pointer;
    background-color: #7205f7;
    color: white;
    box-shadow: 0 4px 14px 0 rgb(114 5 247 / 39%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* GOST by: Beep - https://codepen.io/scoooooooby/pen/pecdI */

.ghost {
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0, 20px);
  }
}
.shadowFrame {
  width: 130px;
  margin-top: 15px;
}
.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center;
  ellipse {
    transform-origin: center center;
  }
}

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }
  50% {
    width: 60%;
    margin: 0 18%;
  }
  100% {
    width: 90%;
    margin: 0 5%;
  }
}